@use '../utils' as *;
@use '../palette' as *;

#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  background-image: var(--random-backdrop);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  opacity: 1;
  transition: opacity 1s ease-out;

  &.transition { opacity: 0; }

  p {
    @include fluid-type(margin-left margin-right, 1rem, 5rem);
    margin-bottom: 1em;

    @include fluid-type(font-size, 1rem, 2rem);
    color: darken($clr-white, 10%);

    &.sub {
      @include fluid-type(font-size, 0.6rem, 1rem);
    }
  }
}