@use '../palette' as *;
@use '../utils' as *;

.selector {
  flex: 1;
  position: relative;
  
  .selector-current {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    width: 100%;
    padding: 0.75rem 0.5rem;

    font-size: 1.5rem;
    text-align: left;

    color: $clr-white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    transition: background 0.2s ease-out;

    &:hover {
      background: rgba(0, 0, 0, 0.75);
    }
  }

  .selector-menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    position: absolute;
    top: auto;
    right: 0;
    bottom: 101%;
    bottom: calc(100% + 0.5rem);
    left: 0;

    max-height: 80vh;
    padding: 0.5rem;

    background: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;

    .selector-entry {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 0.5rem;

      font-size: 1.5rem;
      background: transparent;
      border-bottom: 1px solid $clr-blue;
      border-radius: 0;

      &:last-child {
        border-bottom: none;
      }

      &.active {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}