@use '../palette' as *;
@use '../utils' as *;

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;

  font-size: 1rem;
  @include fluid-type(font-size, 0.5rem, 0.75rem);

  padding: 1em;
  gap: 1em;

  .toolbar-button {
    padding: 0.5em;
    font-size: 2em;

    transform: scale(1);
    transition: transform 0.15s ease-in-out, background 0.2s ease-out;

    &:hover {
      transform: scale(1.15);
      background: rgba(0, 0, 0, 0.75);
    }
  }

  button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    font-size: 1em;
    line-height: 1em;

    background: rgba(0, 0, 0, 0.5);
    color: $clr-white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
  }
}