$clr-black: #090706;
$clr-white: #E1E6E1;
$clr-blue: #536C79;
$clr-yellow: #E4B363;
$clr-red: #D16666;

$font: 'Montserrat', sans-serif;
$font-root-size: 20px;

$viewport-min: 320px;
$viewport-max: 1400px;