@use 'utils' as *;
@use 'palette' as *;

@import './reset.scss';

:root {
  background: $clr-black;
  color: $clr-white;
  font-family: $font;
  font-size: $font-root-size;
}

html, body {
  background: inherit;
  color: inherit;
  font-size: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

h1 { @include fluid-type(font-size, 2rem, 5rem); }
h2 { @include fluid-type(font-size, 1.75rem, 4.5rem); }
h3 { @include fluid-type(font-size, 1.3rem, 3.75rem); }

#root {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}