@use 'utils' as *;
@use 'palette' as *;

@import './reset.scss';

:root {
  --mouse-x: 0.5;
  --mouse-y: 0.5;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  
  background: $clr-black;
  color: $clr-white;
  font-family: $font;
  font-size: $font-root-size;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h1 { @include fluid-type(font-size, 2rem, 5rem); }
h2 { @include fluid-type(font-size, 1.5rem, 4rem); }
h3 { @include fluid-type(font-size, 1.2rem, 3rem); }

#root {
  display: block;
  position: relative;
}